/**************/
/* CSS REMEDY */
/**************/


*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0%;
	padding: 0%;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
	/* startje */
	--primary-color: #410C00;
	--secondary-color: #210082;
	--color-text: #ffffff;
	--color-text2: #410C00;
}


/* https://fontmeme.com/fonts/genta-font/#google_vignette */
@font-face {
	font-family: "genta";
	src: url(/fonts/Genta.ttf);
}

/* https://font.download/font/zuume */
@font-face {
	font-family: "zuumme";
	src: url(/fonts/Zuume\ Medium.ttf);
	src: url(/fonts/Zuume\ Bold.ttf);
}


/****************/
/* JOUW STYLING */
/****************/


/* Header */


header {
	background-color: var(--primary-color);
}

header nav {
	display: flex;
	position: relative;
}

	/* header nav ul {
	position: absolute;
	top: 2em;
	width: 100vw;
	height: 100vh;
	background-color: aqua;
}	 */


/* Header */


h2 {
	font-family: "zuumme";
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font-family: "zuumme";
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	font-size: 2em;
	color: var(--secondary-color);
	padding: 4%;

}

h4 {
	font-family: "zuumme";
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
	text-align: left;
	font-family: "Genta";
	font-weight: lighter;
	color: var(--color-text2);
	font-size: 1.3em;
	line-height: 1em;
	padding: 4%;

}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;

	color: var(--color-text);
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

img {
	width: 35%;
	padding: 4%;
}


/* Footer */
footer {
	background-color: var(--primary-color);
}