/**************/
/* CSS REMEDY */
/**************/


*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0%;
	padding: 0%;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
	/* startje */
	--primary-color: #410C00;
	--secondary-color: #210082;
	--color-text: #ffffff;
	--color-text2: #410C00;
	--background-color: #f0b243;
}


/* https://fontmeme.com/fonts/genta-font/#google_vignette */
@font-face {
	font-family: "genta";
	src: url(/fonts/Genta.ttf);
}

/* https://font.download/font/zuume */
@font-face {
	font-family: "zuumme";
	src: url(/fonts/Zuume\ Medium.ttf);
	src: url(/fonts/Zuume\ Bold.ttf);
}


/****************/
/* JOUW STYLING */
/****************/


/* Header */


header {
	background-color: var(--primary-color);
}

header nav {
	display: flex;
	position: relative;
}

/* header nav ul {
	position: absolute;
	top: 2em;
	width: 100vw;
	height: 100vh;
	background-color: aqua;
}	 */


/* Header */

header:nth-of-type(1) img {
	display: flex;
	justify-content: flex-start;
	width: 5em;
	padding: 10%;
	margin-top: .2em;
	margin-left: .2em;
}

main section:nth-of-type(1) h2 {
	font-family: "zuumme";
	font-size: 2.3em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 7%;
}

main section:nth-of-type(1) p {
	font-family: "zuumme";
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
}

main section:nth-of-type(2) {
	background-color: var(--background-color);
}

main section:nth-of-type(2) img {
	height: 100%;
	width: 100%;
	padding: 10%;
	margin-top: 10%;
}

main section:nth-of-type(2) h3 {
	color: var(--color-text);
	padding: 10%;
	font-size: 2.9em;
	text-align: left; 
	font-family: "zuumme";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 1em;
	
}

main section:nth-of-type(3) img {
	height: 100%;
	width: 100%;
	padding: 10%;
}

main section:nth-of-type(3) h3 {
	font-family: "zuumme";
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	color: var(--color-text2);
	line-height: 1em;
	margin-top: 1em;
}

main section:nth-of-type(3) p {
	text-align: center;
	font-family: "Genta";
	font-weight: lighter;
	color: var(--color-text2);
	font-size: 1.3em;
	line-height: 1em;
	padding: 4%;

}

main section:nth-of-type(4) img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main section:nth-of-type(5) p {
	text-align: center;
	font-family: "Genta";
	font-weight: lighter;
	color: var(--color-text2);
	font-size: 1.3em;
	line-height: 1em;
	padding: 4%;
	}

	main section:nth-of-type(5) h3 {
		font-family: "zuumme";
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	color: var(--color-text2);
	line-height: 1em;
	margin-top: 1em;
		}

		main section:nth-of-type(5) img {
			position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
			}

			footer:nth-of-type(1) img {
				display: flex;
				justify-content: flex-start;
				width: 50%;
				padding: 10%;
				margin-top: .2em;
				margin-left: .2em;
			}




h4 {
	font-family: "Genta";
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;

}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;

	color: var(--color-text);
}

video {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* img:nth-child(3) {
	width: 100%;
	padding: 10%;
} */


/* Footer */
footer {
	background-color: var(--primary-color);
}